* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* main page */
.mainbody {
    background-color: #ff4b8b;
    height: 100vh;
}

.mainpic img {
    height: 55vh;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mainbody h1 {
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 14vh;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: black;
}

.pi:hover {
    color: #b2fbe6;
}

.no:hover {
    color: #ffadd1;
}

.ki:hover {
    color: #fedf1d;
}

.o:hover {
    color: #b2fbe6;
}

.pi2:hover {
    color: #ffadd1;
}

.ii:hover {
    color: #fedf1d;
}

/* bio page */
.bio_bg {
    background-image: url(images/biopic.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-color: #ff4b8b;
}

.biotext {
    position: absolute;
    font-family: 'Hedvig Letters Sans', sans-serif;
    font-size: 20px;
    color: white;
    top: 10%;
    right: 10%;
    width: 80%;
    background-color: #ff4b8b;
    padding: 15px;
}

.biotextjp {
    position: absolute;
    font-size: 20px;
    color: white;
    top: 10%;
    right: 10%;
    width: 80%;
    background-color: #ff4b8b;
    padding: 15px;
    display: none;
}

.aimaina_peek img {
    position: absolute;
    height: 200px;
    z-index: 99;
    right: 50px;
    top: -40px;
}

.doushite_peek img {
    position: absolute;
    height: 200px;
    z-index: 99;
    left: -30px;
    top: 130px;
}

/* song 1 - hanauta */
.song1body {
    background-color: #e54295;
    height: 94vh;
}

.topline {
    background-color: #42e5df;
    height: 3vh;
}

.bottomline {
    background-color: #42e5df;
    height: 3vh;
}

.song1body h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    color: white;
    font-size: 7vh;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

.song1body h2 {
    font-family: 'Mochiy Pop One', sans-serif;
    color: white;
    font-size: 4vh;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

.maintext {
    font-family: 'IBM Plex Sans', sans-serif;
    color: white;
    font-size: 23px;
    margin-top: 10px;
}

.parent {
    display: flex;
    flex-direction: row;
}

.doushite_head img {
    height: 25vh;
    margin-top: 20vh;
}

.aimaina_head img {
    height: 25vh;
    margin-top: 20vh;
}

/* song 2 - nina */

.song2body {
    background-color: #fdecf6;
    height: 100vh;
}

.mikunoeyes img {
    position: absolute;
    height: 75vh;
    top: 15%;
    left: 30%;
}

.mikueyes img {
    display: none;
    position: absolute;
    height: 75vh;
    top: 15%;
    left: 30%;
}

.box1 img {
    position: absolute;
    height: 70vh;
    top: 0;
    left: -30px;
    rotate: 230deg;
}

.box2 img {
    position: absolute;
    height: 70vh;
    bottom: -30%;
    left: 10%;
    rotate: 305deg;
}

.box3 img {
    position: absolute;
    height: 70vh;
    top: 10%;
    right: -10%;
    rotate: 160deg;
}

.box4 img {
    position: absolute;
    height: 70vh;
    bottom: -40%;
    right: 0%;
    rotate: 260deg;
}

.box5 img {
    position: absolute;
    height: 70vh;
    top: -55%;
    left: 30%;
    rotate: 125deg;
}

/* song 3 - kamippoi na */

.kamippoi_body {
    background-color: #aeaca8;
}

.kamippoi_text {
    position: relative;
}

.kami_text {
    position: absolute;
    font-size: 125px;
    color: red;
    rotate: -20deg;
    left: 10px;
}

.tsu_text {
    position: absolute;
    font-size: 80px;
    color: red;
    left: 150px;
    top: 50px;
}

.po_text {
    position: absolute;
    font-size: 125px;
    color: red;
    left: 300px;
    top: 165px;
    rotate: 20deg;
}

.i_text {
    position: absolute;
    font-size: 125px;
    color: red;
    right: 50px;
    bottom: 50px;
}

.na_text {
    position: absolute;
    font-size: 125px;
    color: red;
    right: 50px;
    bottom: 50px;
}

.kamippoi img {
    height: 100vh;
    z-index: 99;
}

/* song 4 - tensei ringo */

.ringo img {
    height: 60vh;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
}

.tensei img {
    height: 100vh;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: none;
}

/* song 5 - pocket no monster */

.pokebg img {
    position: relative;
    height: 100vh;
    background-repeat: no-repeat;
}

.whitecircle img {
    position: absolute;
    height: 50vh;
    background-repeat: no-repeat;
    z-index: 99;
}

.pokeball img {
    position: absolute;
    height: 10vh;
    background-repeat: no-repeat;
    z-index: 999;
}