* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Crimson Text', serif;
    font-size: 24px;
}

#leaves {
    background-color: aliceblue;
}

.container {
    width: 100%;
    height: 100vh;
    position: relative;
}

/* this selects all of the leaf divs without having to assign this height separately/four times */
.container div img {
    height: 35vh;
}

.purple-leaf {
    position: absolute;
    top: 10%;
    left: 10%;
    rotate: 30deg;
}

.purple-leaf:hover {
    cursor: pointer;
}

.yellow-leaf {
    position: absolute;
    top: 50%;
    left: 20%;
    rotate: -30deg;
}

.pink-leaf {
    position: absolute;
    top: 20%;
    left: 50%;
    rotate: 10deg;
}

.green-leaf {
    position: absolute;
    bottom: 10%;
    right: 10%;
    rotate: 20deg;
}

.purple-leaf2 {
    position: absolute;
    top: 10%;
    right: 10%;
    rotate: -30deg;
    display: none;
}

.reset {
    position: absolute;
    bottom: 0;
    left: 0;
    color: red;
}

.reset:hover {
    cursor: pointer;
    color: blue;
}

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }

.div1 {
    grid-area: 1 / 1 / 2 / 2;
    background-image: url(images/tulip.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
    background-image: url(images/rose.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
}
    
.div3 {
    grid-area: 2 / 1 / 3 / 2;
    background-image: url(images/lily.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
}
    
.div4 {
    grid-area: 2 / 2 / 3 / 3;
    background-image: url(images/daisy.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
}

.div1-text, .div2-text, .div3-text, .div4-text {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 50px;
    font-style: italic;
    color: purple;
    margin: 10%;
    display: none;
}

.front {
    opacity: 0.5;
    z-index: 99;
}

.trees-container {
    display: flex;
    flex-direction: row;
}

.column {
    width: 50%;
    padding: 0 5px;
}

.dfir {
    background-image: url(images/coast_douglas_fir.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 70vh;
}

.lpine {
    background-image: url(images/longleaf_pine.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 70vh;
}

h2 {
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
}

h3 {
    font-style: italic;
    text-align: center;
    font-size: 16px;
    margin-bottom: 50px;
}

h4 {
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 20px;
    background-color: rgb(185, 255, 185);
    border-bottom: 1px solid #ccc;
}

.tree-text {
    padding: 20px;
    font-size: 20px;
    display: none;
}

li {
    list-style-type: none;
}

.nav-container {
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    z-index: 99;
}

.link {
    background-color: black;
    color: white;
    text-transform: uppercase;
    padding: 5px;
    font-size: 14px;
    text-decoration: none;
}

.link:hover {
    background-color: brown;
}

.highlight {
    background-color: green;
    color: yellow;
    text-transform: uppercase;
    padding: 5px;
    font-size: 14px;
    text-decoration: none;
}

.link-content {
    display: none;
}

.active {
    display: block;
}

@media screen and (max-width: 500px) {
    .trees-container {
        flex-direction: column;
    }

    .column {
        width: 100%;
    }

    .div1-text, .div2-text, .div3-text, .div4-text {
        font-size: 30px;
    }

    .container div img {
        height: 20vh;
    }
}