/* resets all elements to include borders and padding to the box model measurement, also resets all spacing to zero so i can control them */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.parent {
    background-color: gray;
    padding: 20px;
    width: 800px;
    height: 1500px;
    text-align: center;
    margin: 0 auto;
    position: relative;
}

.child1 {
    background-color: yellow;
    height: 200px;
}

.child2 {
    background-color: pink;
    height: 200px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 200px;
    z-index: 8;
}

.child3 {
    background-color: lightblue;
    height: 200px;
    position: relative;
    z-index: 9;
}

#fixme {
    border: 10px solid black;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}